.git
.github
.idea
.m2repo
.vscode
documents
**/.DS_Store
**/.env
**/.env.local
**/.env.*.local
**/*.log
**/*.tmp
**/.pytest_cache
**/.ruff_cache
**/.coverage
**/__pycache__
**/*.py[cod]
**/target
**/node_modules
**/dist
deployment/.local
deployment/service-identity/**/*.pem
deployment/service-identity/*private*.pem
deployment/service-identity/**/*private*.pem
deployment/service-identity/**/*-key.pem
